.modal__container_form {
  background-color: #ffffff;
  position: relative;
  max-width: 496px;
  width: 100%;
  padding: 28px 28px 36px;
  border-radius: 20px;
  border: 1px;
}

.modal__close-button_form {
  opacity: 0.3;
}

.modal__close-button_form:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.modal__selection {
  margin-bottom: 12px;
  font-weight: 700;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.modal__radio-label:has(input[type="radio"]:checked) {
  opacity: 1;
}

.modal__submit-button {
  align-self: flex-start;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #000000;
  opacity: 0.3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal__submit-button_text {
  opacity: 1;
  color: #ffffff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.modal__submit-button:hover {
  opacity: 0.6;
}
