.toggle-switch {
  margin-left: auto;
  margin-right: 20px;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.toggle-switch:hover {
  border: 2px solid #000000;
}

.toggle-switch__checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  z-index: -1;
  transition: transform 0.25s ease;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  right: -2px;
  left: unset;
}

.toggle-switch__value {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_right {
  color: #fff;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: #fff;
}
