.sideBar__row {
  display: flex;
  flex-direction: row;
  margin-top: 47px;
}

.sidebar__avatar {
  margin-right: 16px;
}

.sideBar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
