.sideBar__row {
  display: flex;
  flex-direction: row;
  margin-top: 47px;
}

.sidebar__avatar {
  margin-right: 16px;
}

.sideBar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sideBar__actions {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
}

.sideBar__button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: left;
  padding-left: 0;
  width: 100%;
}

.sideBar__button:hover {
  opacity: 0.6;
}
