.footer {
  margin-bottom: 24px;
  margin-top: auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
