.clothesSection {
  margin-top: 63px;
}

.clothesSection__topbar {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  gap: 20px;
}

.clothesSection__addbutton {
  color: #000;
  opacity: 60%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.clothesSection__addbutton:hover {
  opacity: 1;
}

.clothesSection__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 16px;
}
